* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 400px;
    max-width: 600px;
}

nav {
    background-color: white;
    padding: 0;
}

nav a {
    color: black;
    padding: 0;
    display: block;
}

h1 {
    color: black;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid white;
    padding: 0;
    box-shadow: 0 0 20px 0;
    float: right;
}

aside {
    width: 400px;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 72px;
    left: 18px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 50px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid rgb(171, 0, 0);
    color: rgb(23, 13, 94);
    background-color: lightgray;
}